<div class="container form-container">
  <p class="form-title">Crear Licencia</p>
  <form class="form-license" (submit)="crearLicencia()">
    <input
      type="text"
      name="nombre"
      [(ngModel)]="name"
      placeholder="Nombre"
      class="form-input"
    />
    <select [(ngModel)]="vig" name="vig" class="form-select">
      <option value="" disabled>Vigencia</option>
      <option value="1">5 minutos</option>
      <option value="2">10 minutos</option>
      <option value="3">15 minutos</option>
      <option value="4">20 minutos</option>
    </select>
    <select [(ngModel)]="prod" name="prod" class="form-select">
      <option value="" disabled>Producto</option>
      <option value="1">5 equipos</option>
      <option value="2">10 equipos</option>
      <option value="3">15 equipos</option>
      <option value="4">20 equipos</option>
    </select>
    <button type="submit" class="btn btn-blue">Crear</button>
  </form>
</div>
