<header class="site-header">
	<div class="container">
		<div class="title-back">
			<h1 class="title no-selectable">{{ title }}</h1>
		</div>
	</div>
</header>
<app-formulario></app-formulario>
<app-licencia></app-licencia>
