@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:wght@100;400&display=swap');

:root {
	--ice: #f6f5f5;
	--ice-blue: #d3e0ea;
	--blue: #1687a7;
	--green-blue: #276678;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	background-color: var(--ice);
}

/** Estilos globales **/
.container {
	width: 95%;
	max-width: 120rem;
	margin: 0 auto;
}

.no-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 3.4rem;
}

/* Botones */
.btn {
	margin: 0;
	padding: 1rem 2rem;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.8rem;
	transition: background-color 0.2s ease-out;
}

.btn-blue {
	border: 2px solid var(--blue);
	background-color: var(--blue);
	color: var(--ice);
}

.btn-blue:hover {
	background-color: var(--green-blue);
}

.btn-green {
	background-color: #29a745;
	border: 2px solid #29a745;
	color: var(--ice);
}

.btn-green:hover {
	background-color: #1e8835;
}

.btn-red {
	background-color: #dc3545;
	border: 2px solid #dc3545;
	color: var(--ice);
}

.btn-red:hover {
	background-color: #be2635;
}

.btn-ligth {
	background-color: var(--ice);
	border: 2px solid #0dcaf0;
	color: black;
	transition-property: background-color color;
}

.btn-ligth:hover {
	color: var(--ice);
	background-color: #0dcaf0;
}

/* Header */
.site-header {
	background-image: url('./../assets/background.jpg');
	background-position: center;
	background-size: cover;
	max-height: 80rem;
	height: 50vh;
	background-repeat: no-repeat;
}

.site-header .container {
	display: flex;
	align-items: center;
	height: 100%;
}

.title {
	color: var(--ice);
	margin: 0;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 30%);
	width: 30rem;
	text-align: center;
	border: 2px solid var(--ice);
	border-radius: 10px;
}

/* Formulario */
.form-container {
	margin: -8rem auto 5rem;
	max-width: 60%;
}

.form-title {
	margin: 0;
	background-color: var(--ice-blue);
	display: inline-block;
	padding: 1rem 1.5rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: var(--green-blue);
	font-size: 2.5rem;
	font-family: 'Fjalla One', sans-serif;
}

.form-license {
	background-color: var(--ice-blue);
	padding: 2rem 1.5rem;
	border-radius: 10px;
	border-top-left-radius: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	-webkit-box-shadow: 16px 12px 18px -4px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 16px 12px 18px -4px rgba(0, 0, 0, 0.55);
	box-shadow: 16px 12px 18px -4px rgba(0, 0, 0, 0.55);
}

.form-input,
.form-select {
	margin: 0;
	font-size: 2rem;
	border-radius: 10px;
}

.form-input {
	padding: 1rem 1.5rem;
	border: 2px solid white;
}

.form-input:focus {
	outline: 0;
	border: 2px solid var(--blue);
}

.form-select {
	padding: 1.2rem 2.5rem 1.2rem 0.5rem;
	text-align: left;
	border: unset;
	-webkit-appearance: none;
	appearance: none;
	outline: 0;
	background-color: white;
	background-image: linear-gradient(white, white),
		linear-gradient(-135deg, transparent 50%, var(--blue) 50%),
		linear-gradient(-225deg, transparent 50%, var(--blue) 50%),
		linear-gradient(var(--blue) 42%, var(--ice) 42%);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 1px 100%, 26px 28px, 26px 28px, 26px 100%;
	background-position: right 26px center, right bottom, right bottom,
		right bottom;
	outline: 0;
}

.form-select:hover {
	background-image: linear-gradient(var(--green-blue), var(--green-blue)),
		linear-gradient(-135deg, transparent 50%, var(--green-blue) 50%),
		linear-gradient(-225deg, transparent 50%, var(--green-blue) 50%),
		linear-gradient(var(--green-blue) 42%, var(--ice) 42%);
}

.form-select:active {
	background-image: linear-gradient(var(--green-blue), var(--green-blue)),
		linear-gradient(-135deg, transparent 50%, var(--green-blue) 50%),
		linear-gradient(-225deg, transparent 50%, var(--green-blue) 50%),
		linear-gradient(var(--green-blue) 42%, var(--ice) 42%);
	color: var(--ice);
	border-color: var(--green-blue);
	background-color: var(--green-blue);
}

/* Tabla licencias*/
.subtitle {
	font-weight: bold;
}

.container-table {
	padding-bottom: 3rem;
}

.license-table {
	width: 100%;
	border-collapse: collapse;
}

.license-table th {
	text-align: left;
	padding: 1rem 0.5rem;
	font-weight: bold;
	font-size: 1.8rem;
	border: 1px solid var(--ice-blue);
	background-color: var(--blue);
	color: var(--ice);
}

.license-table th:last-of-type {
	min-width: 12rem;
}

.license-table td {
	padding: 1rem 0.5rem;
	font-weight: normal;
	font-size: 1.8rem;
	border: 1px solid var(--ice-blue);
}

.license-table tr:nth-child(even) {
	background-color: var(--ice-blue);
	border-color: white;
}

.license-table tr td:last-of-type {
	text-align: center;
	min-width: 12rem;
}

.license-table tr:hover {
	background-color: #bddbf1;
}
