<div class="container container-table">
	<h2 class="subtitle">Licencias Creadas</h2>
	<table class="license-table">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Código</th>
			<th>Vigencia</th>
			<th>Producto</th>
			<th>Estatus</th>
			<th></th>
		</tr>
		<tr *ngFor="let licencia of licencias; let i = index">
			<td>{{ licencia.id }}</td>
			<td>{{ licencia.name }}</td>
			<td>{{ licencia.code }}</td>
			<td>{{ getVig(licencia) }}</td>
			<td>{{ getProd(licencia) }}</td>
			<td>{{ getStatus(licencia) }}</td>
			<td [ngSwitch]="licencia.status">
				<button
					class="btn btn-green"
					*ngSwitchCase="1"
					(click)="activarLicencia(i)"
				>
					Activar
				</button>
				<button
					class="btn btn-red"
					*ngSwitchCase="2"
					(click)="desactivarLicencia(i)"
				>
					Desactivar
				</button>
				<button
					class="btn btn-green"
					*ngSwitchCase="3"
					(click)="activarLicencia(i)"
				>
					Activar
				</button>
				<button
					class="btn btn-ligth"
					*ngSwitchCase="4"
					(click)="renovarLicencia(i)"
				>
					Renovar
				</button>
			</td>
		</tr>
	</table>
</div>
